# Query() method for filteriing

### Rules of query..

1. expression as a string ("aqi > 100")
2.  column based refrence
3. backticks fro col_name with space or special chars
4. operators(& , |,~,>=,<=,== etc.)
5. @ to reference python vars
6. chained comparison >>>("aqi > 100 & temperature >20") [["city","aqi"]]

In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("globaldata.csv")

# Query
# df.query("aqi > 100 & temperature >20") [["city","aqi"]]
aqi_data=df.query("aqi > 100 & temperature >20") [["city","aqi"]].copy()
aqi_data

           city  aqi
3      New York  158
6      New York  155
7      New York  115
8      New York  121
13     New York  124
...         ...  ...
17985    Zurich  126
17991    Zurich  104
17993    Zurich  153
17996    Zurich  105
17997    Zurich  122

[5323 rows x 2 columns]