# A Data Frame is a 2D labbled array

In [25]:
import pandas as pd

In [26]:
#data frame

# 1st method to create a data frame is dictonart

info={
    "Name":["Ram","Syam","Rohan","Sohan"],
    "Age":[21,16,19,20],
"Cgpa":[9,8.9,9.7,9.2]
 
}

df=pd.DataFrame(info)

print(df)

print(type(df)) #<class 'pandas.core.frame.DataFrame'>

print(df.index) #RangeIndex(start=0, stop=4, step=1)
print(df.columns)

    Name  Age  Cgpa
0    Ram   21   9.0
1   Syam   16   8.9
2  Rohan   19   9.7
3  Sohan   20   9.2
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=4, step=1)
Index(['Name', 'Age', 'Cgpa'], dtype='object')

In [27]:
df

    Name  Age  Cgpa
0    Ram   21   9.0
1   Syam   16   8.9
2  Rohan   19   9.7
3  Sohan   20   9.2

In [28]:
# 2nd method to create data frame is list to  list,we also pass the collum values

df=pd.DataFrame([["Aman",21],["Bob",22],["Eve",23]],columns=["Name","Age"])

print(df)

   Name  Age
0  Aman   21
1   Bob   22
2   Eve   23

In [29]:
df

   Name  Age
0  Aman   21
1   Bob   22
2   Eve   23

In [32]:
# 3rd emthod is numpy array
import numpy as np

arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(arr,columns=["A","B","C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9